dist: trusty
language: python
addons:
    apt:
        packages:
            - cloc
            - git
            - python3-tk
branches:
  only:  # don't build "pushes" except on the master branch
    - master
cache: pip
python:
    - 3.5
    - 3.6
before_install:
    - git clone https://github.com/lh3/bwa.git && cd bwa && make -j 2 && sudo cp bwa /usr/local/bin && cd -
install:
    - make devenv
    - pip install wheel
    - pip install -r requirements.txt
    - pip install .
script:
    - make testmore
    - make style
    - make doc
after_success:
    - make loc
    - bash <(curl -s https://codecov.io/bash)
